
@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Merriweather");
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Kalam');

html{
  background-color: white;
  background-color: #0f6d17;
  width:100%;
}


.output{
  font-size:1.5em;
  border-style: solid;
  border-style: solid;
    border-width: 0.2px;
    margin:0.5em;
    
    background: grey;
    border-radius: 1em;
    height:25%;

  border-width: 0.2em;
  
  border-style: solid;
  border-color: white;
  width:50%;
  margin-right:auto;
  margin-left: auto;
  background-color: white;

}
.row h2{
  color:Grey;
  font-size:1.5em;
  text-align: center;
  font-family: 'Kalam', sans-serif;
  text-decoration: underline;
}
.out button{
  width: 60%;
  font-size:0.8em;
 margin-left:130px;
 border-radius: 30px;

 background-color: #f442b9;
}
input{
width:40%;
  margin-left: 180px;
  border-radius: 30px;
  border-color: grey;
}

input[type=text]
 {

    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 60%;
}



/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
*/
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header img{
  display: block;
  width: 10%;

  margin-left:auto;
  margin-right: auto;

}

.header h1 {
 text-align: center;
  color: green;
  font-weight: bold;
  font-size: 80px;
  font-family: 'Kalam', sans-serif;
  
}

.header {
  border-style: solid;
    border-width: 0.2px;
    margin:0.5em;
    
    background: white;
    border-radius: 1em;
    height:25%

}
.head{
  border-width: 0.2em;
  border-radius: 25px;
  border-style: solid;
  border-color: white;
  width:50%;
  margin-right:auto;
  margin-left: auto;
  background-color: white;
}
footer{
  color: #d6425d;
  
  font-style: italic;
  width: 50%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  
}
footer a:hover{
  color:blue;
}
footer a:visited{
  color:blue;
}

input{
  margin-top:3em;
  font-size: 0.5em;
  padding: 1em;
}
#bar ul{
  list-style-type: none;
  margin:1em;
  padding:1em;
  overflow: hidden;
  background-color: #095910;
  height:2.5em;
  
  



}
#bar ul li a:active{
  background-color: #4caf50;
  color:white;
  text-align: center;
}
#bar li{
  display: inline;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin:1em;


}

#bar li a{
  
  color:white;
  text-decoration: underline;
  width:100%;
  font-weight: bold;
  font-family: "lato",sans-serif;
  font-size: 25px;
  padding:0em;
  margin-right: 250px;
  margin-left: 250px;
  width:100%;

}

#bar ul li a:hover{
  background-color: grey;

}
.panel-body {
  color:Green;
  background-color: white;
  font-size: 1em;
  font-family: 'lato',sans-serif;
  border-style: solid;
  border-radius:25px;
  text-align: center;
  width: 50%;
  margin-right:auto;
  margin-left: auto;
  padding:1em;
  margin-bottom: 1em;
  margin-top:1em;

}

.panel-body h3{
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Ubuntu',sans-serif;
 
  text-align: center;}

button {
  width: 90px;
  height: 30px;
  font-size: 0.8em;
  color: white;
  background-color: #d6425d;
  font-weight: Bold;
  cursor: pointer;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 5px;


}
button:hover{
  color:Blue;
}

.delete-btn {
  background-color: #D9534F;
  border-color: #D43F3A;
}

.Form input{
  font-size: 2em;
}
label {
  font-size: 1.5em;
  margin:2em;
  text-align: center;
  
  width:100%;
  color:white;
}